<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bilds_Fiz.Properties.Settings.CS_Build_Fiz" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Build_Fiz.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>